body{
    margin: 0%;
}

header{
    background: linear-gradient(#bfebbb, #9198e500);
}

h1{
    display: flex;
    justify-content: center;
    margin: 0%;
    padding: 16px;
}

header ul{
    font-size: 12px;
    display: flex;
    justify-content: center;
}

header ul li{
    padding: 8px;
    padding-right: 20px;
}

section{
    margin-right: 20% ;
    margin-left: 20% ;
    background-color: rgb(233, 241, 232);
    height: 50em;
    display:flex;
    align-items: center;
    justify-content: space-around;
}