body{
    margin: 0%;
}

header{
    background-color: rgb(224, 241, 224);
}

h1{
    display: flex;
    justify-content: center;
    margin: 0%;
    padding: 16px;
}

ul{
    font-size: 12px;
    display: flex;
    justify-content: center;
}

li{
    padding: 8px;
    padding-right: 20px;
}